---
type NavItem = {
    link: string;
    text: string;
};

const nav: NavItem[] = [
    {
        link: "/#about",
        text: "About us",
    },
    {
        link: "/#join",
        text: "参加申し込み",
    },
    {
        link: "/#blog",
        text: "活動の様子",
    },
];
---

<nav class="flex items-center">
    {
        nav.map(({ link, text }) => (
            <div class="flex-1 text-center text-xl border-l-2 first:border-l-0 border-neutral-200">
                <a href={link}>{text}</a>
            </div>
        ))
    }
</nav>
