<div class="w-full flex flex-col items-center">
    <div
        class="relative flex flex-col gap-2 rounded-sm w-full max-w-3xl px-3 py-6 bg-neutral-100 border-2 border-neutral-200"
    >
        <div class="text-right absolute top-1 right-3">
            <slot name="title" />
        </div>
        <slot />
    </div>
</div>
