---
import logo from "../assets/Logo.svg";

import Avator from "../components/Avator.astro";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Navigation from "../components/Navigation.astro";

interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<html lang="ja">
    <head>
        <BaseHead title={title} description={description} />
    </head>
    <body class="font-lato flex flex-col items-center gap-4">
        <Hero>
            <a href="/" slot="avator">
                <Avator img={logo} />
            </a>
        </Hero>
        <div
            class="z-50 py-2 w-full backdrop-blur sticky top-0 flex flex-col items-center"
        >
            <div class="w-full max-w-3xl">
                <Navigation />
            </div>
        </div>
        <slot />
        <Footer />
    </body>
</html>
